<h1>Lista de Preguntas</h1>
<div class="box">
<table>
  <tr>
    <th>ID</th>
    <th>Orden</th>
    <th>Spa description</th>
    <th>Eng description</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.id %></td>
    <td style = "text-align: center;"><%= question.position_question %></td>
    <td><%= question.spa_description %></td>
    <td><%= question.field_type %></td>
    <td><%= question.section.description %></td>
    <td><%= link_to 'Editar', edit_question_path(question) %></td>
    <td><%= link_to 'Eliminar', question, confirm: 'Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Agregar pregunta', new_question_path, :class => 'button' %>
</div>