<br>
<% @u = User.where("user_profile_id = ? and college_id = ?",2,5) %>
Proyectos Totales CONALEP : <span style="font-weight: bold;"><%= @u.count %></span>

<% @u.each do |lider_proyecto| %>
	<% @ap = lider_proyecto.applications %>

	<%if @ap.empty? %>
		
	<% else %>
	<% @app_obj = @ap.first %>
			<div id="proyectos">
					<table style="width:100%;">
						<tr>
							<th>Proyecto</th>
							<th>Categoria</th>
							<th>Descripción</th>
						
						</tr>
					<tr ALIGN=CENTER>
						<td><%= @app_obj.name %></td>
					<td><%= @app_obj.market.description%></td>						
					<td style="width: 60%;"><%= @app_obj.short_description %></td> 
						</tr>
						<tr ALIGN=CENTER>
						<td colspan=4 style="font-size: 10px; color: rgb(41, 138, 202); text-align: center; font-weight: bold;"> 
						<% @app_obj.users.each do |usr| %>
							<%= usr.name %> \
						<% end %>
						<td>
						</tr>
						<tr ALIGN=CENTER>
							<%= render :partial=>"partial_links" %>
						</tr>
					</table>
			</div>
	<% end %>
<% end %>