<script>
  var Chartkick = {"language": "es"};
</script>
<%= javascript_include_tag "highcharts", "chartkick" %>


<div id="banner-wrapper" style="margin-top:-62px;">		
	<div id="faqBodyPanel">

		<%= render 'menu' %>

		<div class="rightBarPanel box">
			<!-- INICIO section_1 -->
			<div style="display:none" id="section_1" class="questions_section">
				<h2 id="commentShow" style="color:#1f323f">Panel Administrador</h2>
				<h3 style="color: #E5213B;">Vista general</h3>
				<span style="position:relative; top: -50px; font-size:14px;">
					<p>Concentrado de información de proyectos ingresados a la plataforma.</p>
				</span>
				<h3>Proyectos</h3>
					<h4>Usuarios por escuela</h4>
						<!--<%= column_chart({"Football" => 1, "Basketball" => 5}) %>-->
						<%= column_chart User.group("college_id").count, :height => "100px" %>
			</div>
			<!-- FIN section_1 -->
			
			<!-- INICIO section_2 -->
			<div style="display:none" id="section_2" class="questions_section">
			<h2 id="commentShow" style="color:#1f323f">Panel Administrador</h2>
			<h3 style="color: #E5213B;">Proyectos</h3>
				<span style="position:relative; top: -50px; font-size:14px;">
					<p>Concentrado de información a detalle de proyectos ingresados a la plataforma.</p>
				</span>
				
				<h3> Total Proyectos: <%= Application.all.count %><br></h3>
				<% Application.all.each do |application| %>
					

				<div id="proyectos">
					<table style="width:100%; margin-left: 5px;">
						<tr>
							<th>Proyecto</th>
							<th>Categoria</th>
							<th>Escuela</th>
							<th>Descripción</th>
						</tr>
					<tr ALIGN=CENTER>
					<td><%= application.name %></td>
					<td><%= application.market.description%></td>
					<% if application.users.where(:user_profile_id =>2).first.college.nil? %>
					<td> Sin escuela </td>
					<% else %>
						<td><%= application.users.where(:user_profile_id =>2).first.college.name %></td>
					<% end %>
						
					<td><%= application.short_description %></td>
						</tr>
					</table>
				</div>
				<% end %>
			</div>
			<!-- FIN section_2 -->
		</div>
	</div>
</div>