<script>
  var Chartkick = {"language": "es"};
</script>
<%= javascript_include_tag "highcharts", "chartkick" %>


<div id="banner-wrapper" style="margin-top:-62px;">		
	<div id="faqBodyPanel">

		<%= render 'menu' %>

		<div class="rightBarPanel box">
			<div style="display:none" id="section_1" class="questions_section">
				<h2 id="commentShow" style="color:#1f323f">Panel Administrador</h2>
				<h3 style="color: #E5213B;">Vista general</h3>
				<span style="position:relative; top: -50px; font-size:14px;">
					<p>Concentrado de información de proyectos ingresados a la plataforma.</p>
				</span>
				<h3>Proyectos</h3>
					<%= column_chart User.group("college_id").count, :height => "200px" %>
				<h3>Escuelas</h3>
					<%= column_chart User.group("college_id").count, :height => "200px" %>
				<h3>Categorias</h3>
					<%= column_chart User.group("college_id").count, :height => "200px" %>
				<h3>Alumnos</h3>
				<%= column_chart User.group("college_id").count, :height => "200px" %>

			</div>
			<!-- section_2 -->
			<div style="display:none" id="section_2" class="questions_section">
			<h2 id="commentShow" style="color:#1f323f">Panel Administrador</h2>
			<h3 style="color: #E5213B;">Proyectos</h3>
				<span style="position:relative; top: -50px; font-size:14px;">
					<p>Concentrado de información a detalle de proyectos ingresados a la plataforma.</p>
				</span>
				<div id="proyectos">
					<table style="width:100%; margin-left: 5px;">
						<tr>
							<th>Proyecto</th>
							<th>Categoria</th>
							<th>Lider</th>
							<th>Escuela</th>
						</tr>
						<tr ALIGN=CENTER>
							<td>Tortas Paco y Asociados</td>
							<td>Comida Restaurante</td>
							<td>Rubén Josué Ruiz Colchado</td>
							<td>Univercidad Tecnológica de Querétaro (UTEQ)</td>
							<td style="min-width:14%;"><input type="button" class="button" value="PDF"></td>
						</tr>
						<tr ALIGN=CENTER>
							<td colspan="4">Barra Progreso</td>
						</tr>
					</table>
				</div>

				<div id="proyectos">
					<table style="width:100%; margin-left: 5px;">
						<tr>
							<th>Proyecto</th>
							<th>Categoria</th>
							<th>Lider</th>
							<th>Escuela</th>
						</tr>
						<tr ALIGN=CENTER>
							<td>Tortas Paco y Asociados</td>
							<td>Comida Restaurante</td>
							<td>Rubén Josué Ruiz Colchado</td>
							<td>Univercidad Tecnológica de Querétaro (UTEQ)</td>
							<td style="min-width:14%;"><input type="button" class="button" value="PDF"></td>
						</tr>
						<tr ALIGN=CENTER>
							<td colspan="4">Barra Progreso</td>
						</tr>
					</table>
				</div>

				<div id="proyectos">
					<table style="width:100%; margin-left: 5px;">
						<tr>
							<th>Proyecto</th>
							<th>Categoria</th>
							<th>Lider</th>
							<th>Escuela</th>
						</tr>
						<tr ALIGN=CENTER>
							<td>Tortas Paco y Asociados</td>
							<td>Comida Restaurante</td>
							<td>Rubén Josué Ruiz Colchado</td>
							<td>Univercidad Tecnológica de Querétaro (UTEQ)</td>
							<td style="min-width:14%;"><input type="button" class="button" value="PDF"></td>
						</tr>
						<tr ALIGN=CENTER>
							<td colspan="4">Barra Progreso</td>
						</tr>
					</table>
				</div>

			</div>

		</div>
	</div>
</div>