<script>
  var Chartkick = {"language": "es"};
</script>
<%= javascript_include_tag "highcharts", "chartkick" %>


<div id="banner-wrapper" style="margin-top:-62px;">		
	<div id="faqBodyPanel">

		<%= render 'menu' %>

		<div class="rightBarPanel box">
			<!-- INICIO section_1 -->
			<div style="display:none" id="section_1" class="questions_section">
				<h2 id="commentShow" style="color:#1f323f">Panel Administrador</h2>
				<h3 style="color: #E5213B;">Vista general</h3>
				<span style="position:relative; top: -50px; font-size:14px;">
					<p>Concentrado de información de proyectos ingresados a la plataforma.</p>
				</span>

				<h3 style="margin-bottom: 20px;">Proyectos</h3>
				<center><div id="pro">
					<table style="width:100%;">
						<tr ALIGN=CENTER>
							<th style="color:#1F323F;"><%= User.where("user_profile_id = ?",2).count %></th>
							<th style="color:#1F323F;"><%= PdfPreview.select("DISTINCT(application_id)").count %></th>
						</tr>
						<tr ALIGN=CENTER>
							<td>Iniciados</td>
							<td>Terminados</td>
						</tr>
					</table>
				</div></center>

				<h3 style="margin-bottom: 20px;">Proyectos por Escuela</h3>
				<center><div id="pro">
					<table style="width:100%;">
						<tr ALIGN=CENTER>
							<th style="color:#1F323F;"><%= User.where("user_profile_id = ? and college_id = ?",2,2).count %></th>
							<th style="color:#1F323F;"><%= User.where("user_profile_id = ? and college_id = ?",2,3).count %></th>
							<th style="color:#1F323F;"><%= User.where("user_profile_id = ? and college_id = ?",2,4).count %></th>
							<th style="color:#1F323F;"><%= User.where("user_profile_id = ? and college_id = ?",2,5).count %></th>
							<th style="color:#1F323F;"><%= User.where("user_profile_id = ? and college_id = ?",2,6).count %></th>
						</tr>
						<tr ALIGN=CENTER>
							<td>UAQ</td>
							<td>COBAQ</td>
							<td>CECYTEQ</td>
							<td>CONALEP</td>
							<td>CETIS</td>
						</tr>
					</table>
				</div></center>

				<!---
				<h3 style="margin-bottom: 20px;">Alumnos por Escuela</h3>
				<center><div id="pro">
					<table style="width:100%;">
						<tr ALIGN=CENTER>
							<th style="color:#1F323F;">120</th>
							<th style="color:#1F323F;">41</th>
							<th style="color:#1F323F;">120</th>
							<th style="color:#1F323F;">41</th>
							<th style="color:#1F323F;">120</th>
						</tr>
						<tr ALIGN=CENTER>
							<td>UAQ</td>
							<td>COBAQ</td>
							<td>CECYTEG</td>
							<td>CONALEP</td>
							<td>CETIS</td>
						</tr>
					</table>
				</div></center>
				-->	
				<h3 style="margin-bottom: 20px;">Proyectos por Categoria</h3>
				<center><div id="pro2">
					<table style="width: 70%; margin-top: 15px;">
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">4</th>
							<th style="width:10%;"></th>
							<td>Automotriz</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">3</th>
							<th style="width:10%;"></th>
							<td>Desarrollo de Software</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">14</th>
							<th style="width:10%;"></th>
							<td>Distribución y Venta al por menor</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">3</th>
							<th style="width:10%;"></th>
							<td>Educación</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">7</th>
							<th style="width:10%;"></th>
							<td>Energía y Ahorro de Energía</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">6</th>
							<th style="width:10%;"></th>
							<td>Entretenimiento</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">2</th>
							<th style="width:10%;"></th>
							<td>Medios de Comunicación y Contenidos</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">8</th>
							<th style="width:10%;"></th>
							<td>Moda</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">38</th>
							<th style="width:10%;"></th>
							<td>Publicidad</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">13</th>
							<th style="width:10%;"></th>
							<td>Salud y Bienestar</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">12</th>
							<th style="width:10%;"></th>
							<td>Agricultura</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">41</th>
							<th style="width:10%;"></th>
							<td>Seguridad</td>
						</tr>
						<tr ALIGN=LEFT>
							<th>42</th>
							<th style="width:10%;"></th>
							<td>Viajes, Turismo, Hotelería</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">23</th>
							<th style="width:10%;"></th>
							<td>Actividades Pecuarias</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">0</th>
							<th style="width:10%;"></th>
							<td style="color:#1F323F;">Mineria</td>
						</tr>
						<tr ALIGN=LEFT>
							<th style="color:#1F323F;">23</th>
							<th style="width:10%;"></th>
							<td>Alimentos</td>
						</tr>
					</table>
				</div></center>	
			</div>
			<!-- FIN section_1 -->
			
			<!-- INICIO section_2 -->
			<div style="display:none" id="section_2" class="questions_section">
			<h2 id="commentShow" style="color:#1f323f">Panel Administrador</h2>
			<h3 style="color: #E5213B;">Proyectos</h3>
				<span style="position:relative; top: -50px; font-size:14px;">
					<p>Concentrado de información a detalle de proyectos ingresados a la plataforma.</p>
				</span>
				
			<%= link_to "Proyectos UAQ", show_uaq_projects_dashboard_index_path,:remote=>true %>| 
			<%= link_to "Proyectos COBAQ", show_cobaq_projects_dashboard_index_path,:remote=>true %>| 
			<%= link_to "Proyectos CECYTEQ", show_cecyteq_projects_dashboard_index_path,:remote=>true %>| 
			<%= link_to "Proyectos CONALEP", show_conalep_projects_dashboard_index_path,:remote =>true %>| 
			<%= link_to "Proyectos CETIS", show_cetis_projects_dashboard_index_path,:remote=>true %>|
				
					
					<div id="render_projects_by_school">
					</div>
			</div>
			<!-- FIN section_2 -->
		</div>
	</div>
</div>

<!-- Ejemplo Graficas

<%= column_chart({"Football" => 1, "Basketball" => 5}) %>
<%= column_chart User.group("college_id").count, :height => "100px" %>-->