<div id="banner-wrapper" style="margin-top:-30px;">
 <div id="registro" class="box">
  <div class= "h1registro">
  <h2>Registrate</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <h5><%= devise_error_messages! %></h5>

  <%= f.text_field :name, :autofocus => true, :class => 'inputs normal',:placeholder => "Nombre" %>
  	
  <%= f.email_field :email, :class => 'inputs normal',:placeholder => "Correo Electrónico"  %>

  <%= f.password_field :password, :class => 'inputs normal',:placeholder => "Contraseña" %>

  <%= f.password_field :password_confirmation, :class => 'inputs normal',:placeholder => "Confirmar Contraseña" %>

  <div class="field">
    <%= f.label 'Facultad : ' %>
    <%= f.collection_select(:faculty_id, Faculty.all, :id, :name,:class => 'inputs normal' ) %>
  </div>
  <%= f.hidden_field :user_profile_id, :value => 2 %>
<br/><br/>
<fieldset id="actions" style="margin-top: 20px;">
  <%= f.submit "Registrar",:class => 'button loginb'  %>
<% end %>

<%= render "devise/shared/links" %>
</fieldset>
</div>
</div>