<%= form_for(application) do |f| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin-left: 6%;">
    <%= f.label "Nombre de tu proyecto:" %><br />
    <%= f.text_field :name,:class=>'inputs normal', :placeholder=>'Nombre' %>
  </div>
   <div class="field" style="margin-left: 6%;">
    <%= f.label "etiquetas (separado por comas ',' )"  %><br />
    <%= f.text_field :tags,:class=>'inputs normal', :placeholder=>'Tags' %>
  </div>
  <div class="field" style="margin-left: 6%;">
    <%= f.label "Descripción corta:"%><br />
    <%= f.text_area :short_description, :rows => '4',:style => 'resize: none;',:class=>'inputs normal', :placeholder=>'Descripción corta' %>
  </div>
  <div class="field" style="margin-left: 6%;">
     <%= f.label "Selecciona una categoría para tu proyecto"  %><br />
      <%= f.collection_select(:market_id, Market.all, :id, :description, {},{:class=>'chosen normal'}) %>
  </div>
 <br><br>
  <div class="actions" style="margin-left: 6%;">
    <%= f.submit "Crear",:class => 'button loginb' ,:disable_with => "Guardando"%>
  </div>
<% end %>
