<div id="banner-wrapper" style="margin-top:-30px;"> 

	<div id="aplicacion">
		<table>
		<% @applications.each do |application| %>
		    <span style="text-align: center;"><h2><%= application.name %></h2></span>
		    <h4>Descripción corta:</h4>
		    <span style="text-align: justify;"><%= application.short_description %></span><br>
		    <h4>Categoria:</h4>
		    <span style="text-align: justify;"><%= application.market.description %></span><br>
		    <h4>Tags:</h4>
		    <span style="text-align: justify;"><%= application.tags %></span>

		    <br/><br/>
		    <span style="float:left; margin: 0 10px 0 0">
		    	<%= button_to 'Comenzar', application, :class => "button_2 loginb", :method => :get, :style=>"width:180px;"%>
		    </span>
		    <span style="float:left; margin: 0 10px 0 0">
		    	<%= button_to 'Editar', edit_application_path(application), :class => "button loginb", :method => :get %>
		    </span>
		    	<%= button_to 'Eliminar', application, confirm: '¿Estás seguro de eliminar?', method: :delete, :class => "button loginb" %>
		    
		  
		<% end %>
		</table>


		<% if current_user.applications.all.count <= 0 %>
		<span style="text-align: center;">
		  <h2> Cuentanos tu proyecto!</h2>
		</span>
		<%= render :partial => 'formEmbed', :locals => {:application => Application.new, :iduser => current_user.id} %>
		<% else %>
		  
		<% end %>
	</div>

</div>