<h1>Listing applications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Short description</th>
    <th>Iduser</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%= application.name %></td>
    <td><%= application.short_description %></td>
    <td><%= application.users.name %></td>
    <td><%= link_to 'Show', application %></td>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <td><%= link_to 'Destroy', application, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
  <p> Cuentanos tu proyecto!</p>
  <%= render :partial => 'formEmbed', :locals => {:application => Application.new, :iduser => current_user.id} %>
<% else %>
  <p> ya tienes aplicaciones</p>
<% end %>
