<div id="banner-wrapper" style="margin-top:-30px;">			
	<div id="faqBody">

		<%= render 'layouts/menu' %>

		<div class="rightBar box">
		

<div style="width:100%; display:none" id="section_1" class="questions_section">
	<center><h2 id="commentShow">Bienvenido</h2></center>
	<h1> Registro de colaboradores</h1>
	<span style="position:relative; top: -10px; ">
		<p>En este apartado deberás llenar una serie de preguntas que te permitirán hacer el registro de participantes y colaboradores de tu proyecto.</p></span>
	<% if @application.users.all.count > 0 %>
		<%= render :partial => 'users/showappmembers', :locals => {:users => @application.users.all} %>
		<div id="">
			<%= render :partial => 'users/editappmembers', :locals => {:users => @application.users.all} %>
		 </div>
	<% else %>
		<p> no tienes Colaboradores aun </p>
	<% end %>

<div id="botonCentral" style="margin-top:-20px;">
	<input type="button" id="btn_agrega_colaborador" onclick="$('#formNewUser').show()" class="button loginb" value="Agrega Colaborador">

</div>
	<div style="display:none" id="formNewUser">
		<%= render :partial => 'users/form_embed', :locals => {:userinput  => 	User.new} %>
	</div>
</div>

<!-- iterar secciones para DIV -->
<% Section.all.each do |section| %>
	<div style="margin-top: 10px; display:none" id="section_<%= section.id %>" class="questions_section">
		<h1><%= section.description %></h1>
		<% if section.id == 12 %> <!-- cambiar por section.id = 8 >
			 <%= render "layouts/htmlForRender/pdf_preview" %>
		<% elsif section.id == 9 %>
			<%= render "layouts/htmlForRender/material_apoyo" %>
		<% elsif %>
			<%= render :partial => 'answers/form', :locals => {:questionsIn => Question.where(:section_id => section.id).order(:position_question).all, :app =>@application} %>
		<% end %>
	</div>
<% end %>

		</div>
	</div>
</div>


