<div id="banner-wrapper" style="margin-top:-30px;">			
	<div id="faqBody">
		<div id="flota" class="leftBar">
		</div>
		<div class="rightBar">

<div class="box">

<p id="notice"><%= notice %></p>

<span style="position:relative; top: -30px; font-size:12px;">
	<h2>Colaboradores</h2>
  <!--<b>Proyecto:</b>
  <%= @application.name %>
  <br/>
  <b>Descripción Corta:</b>
  <%= @application.short_description %> -->
</span>

<% if @application.users.all.count > 0 %>
	<%= render :partial => 'users/showappmembers', :locals => {:users => @application.users.all} %>
<% else %>
	<p> no tienes Colaboradores aun </p>
<% end %>
<input type="button" onclick="$('#formNewUser').show()" value="Agrega Colaborador">

<div style="display:none" id="formNewUser">
	<%= render :partial => 'users/form_embed', :locals => {:userinput  => 	User.new} %>
</div>

<%= render :partial => 'answers/form', :locals => {:questionsIn => Question.all} %>

<%= link_to 'Editar', edit_application_path(@application) %> |
<%= link_to 'Atras', applications_path %>
</div>

		</div>
	</div>
</div>
