<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Short description:</b>
  <%= @application.short_description %>
</p>

<% if @application.users.all.count > 0 %>
	<%= render :partial => 'users/showappmembers', :locals => {:users => @application.users.all} %>
<% else %>
	<p> no tienes Colaboradores aun </p>
<% end %>
<%= link_to 'Agrega un Colaborador', new_user_path() %>

<%= render :partial => 'answers/form', :locals => {:questionsIn => Question.all} %>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
