<div id="banner-wrapper" style="margin-top:-30px;">			
	<div id="faqBody">

		<%= render 'layouts/menu' %>

		<div class="rightBar box">
			


<p id="notice"><%= notice %></p>


<div style="width:100%; display:none" id="section_1" class="questions_section">

	<span style="position:relative; top: -30px; font-size:12px;">
		<h2 id="commentShow">Colaboradores</h2>
	</span>
	<% if @application.users.all.count > 0 %>
		<%= render :partial => 'users/showappmembers', :locals => {:users => @application.users.all} %>
		<div id="">
			<%= render :partial => 'users/editappmembers', :locals => {:users => @application.users.all} %>
		 </div>
	<% else %>
		<p> no tienes Colaboradores aun </p>
	<% end %>

<div id="botonCentral" style="margin-top:-20px;">
	<input type="button" id="btn_agrega_colaborador" onclick="$('#formNewUser').show()" class="button loginb" value="Agrega Colaborador">

</div>
	<div style="display:none" id="formNewUser">
		<%= render :partial => 'users/form_embed', :locals => {:userinput  => 	User.new} %>
	</div>
</div>

<!-- iterar secciones para DIV -->
<% Section.all.each do |section| %>
	<div style="margin-top: 10px; display:none" id="section_<%= section.id %>" class="questions_section">
		<span style="position:relative; top: -30px; font-size:12px;">
			<h2 id="commentShow"><%= section.description %></h2>
		</span>
	<%= render :partial => 'answers/form', :locals => {:questionsIn => Question.where(:section_id => section.id).order(:id).all} %>
	</div>
<% end %>

		</div>
	</div>
</div>

