<%= form_for(userinput, :html => { :'data-type' => 'html', :id => 'add_user_to_app', :multipart => true}) do |f| %>
  <% if userinput.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userinput.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% userinput.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<did class="centrarEspacio">
  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name,:class => "inputs formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Edad %><br />
    <%= f.number_field :age , :value => 20, :min =>15,:class => "inputs formNormal"  %>
  </div>
  <div class="field">
    <%= f.label :Dirección %><br />
    <%= f.text_field :address,:class => "inputs formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email,:class => "inputs formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Semestre %><br />
    <%= f.number_field :semester,:class => "inputs formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Telefono %><br />
    <%= f.text_field :phone,:class => "inputs formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Telefono_2 %><br />
    <%= f.text_field :extra_phone,:class => "inputs formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Twitter %><br />
    <%= f.text_field :twitter,:class => "inputs formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Linkedin %><br />
    <%= f.text_field :linkedin,:class => "inputs formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Foto %><br />
    <%= f.file_field :photo,:class => "formNormal" %>
  </div>
  <div class="field">
    <%= f.label :Motivación %><br />
    <%= f.number_field :motivation , :value => 8, :min =>0,:class => "inputs formNormal"  %>
  </div>
  <div class="field">
    <%= f.label :Facultad %><br />
    <%= f.collection_select(:faculty_id, Faculty.all, :id, :name) %>
  </div>  
  <div class="field">
    <%= f.label :Perfil %><br />
    <%= f.collection_select(:user_profile_id, UserProfile.all, :id, :description) %>
  </div>
  <%= f.hidden_field :create_from , :value => 'user_form'  %>
<div id="botonCentral" style="margin-bottom:20px;">
  <div class="actions">
    <%= f.submit :Guardar,:class => "button loginb" %>
  </div>
</div>
</div>
<% end %>