<!-- Banner Wrapper -->
<div id="banner-wrapper" style="margin-top:-70px; background:#f0f1f1;">									

<div id="cont" style="margin-bottom: -50px;">
	<span style="margin-left:360px;"><img alt="Logo" src="/assets/logoPE.png" /></span>
	<div id="frase" style="margin-top:-10px;">
		<center><h1 style="color:#fff; text-shadow: 0.1em 0.1em 0.2em black;">¿Quieres emprender tu propia empresa?</h1></center>
	</div>
	<br/>
	<div id="inicioSesionFondo">
		<div id="inicioSesion">
		<%= form_for(:user, :url => session_path(:user)) do |f| %>
	  		<%= f.text_field :email, :autofocus => true, :class => 'inputs ico username',:placeholder => "Correo Electrónico",:style=>"", :required=>"required" %>
	  		<%= f.password_field :password, :class => 'inputs ico password',:placeholder => "Contraseña",:style=>"", :required=>"required"%>
	  		<br/>
	  		<%= f.submit 'Comenzar',:class => 'button loginb',:style => "width:715px;" %>
		<% end %>
		</div>
	</div>
</div>
</div>


<!-- <%= link_to 'Applicaciones', applications_path %> -->


