<!-- Banner Wrapper -->
<div id="banner-wrapper" style="margin-top:-70px;">									

<div id="cont" style="margin-bottom: -50px;">
	<span style="margin-left:360px;">
		<img alt="Logo" src="/assets/logoPE.png" />
	</span>

	<div id="frase" style="margin-top:-5px;">
		<center>
			<h1 style="color:#fff; text-shadow: 0.1em 0.1em 0.2em black;">Porque tus ideas mueven a Mexico</h1>
			<h1 style="color:#fff; text-shadow: 0.1em 0.1em 0.2em black;">#prepaemprende</h1>
		</center>
	</div>

	<br/>

	<center>
		<div id="divSection1">
			<img src="/assets/logos1.jpg" />
		</div>

		<div id="divSection2">
			<img src="/assets/section2.png" />
		</div>

		<div id="divSection3">
			<img src="/assets/detallesevento2.jpg" />
		</div>

		<div id="divSection4">
			<img src="/assets/contacto.png" />
		</div>
		<div id="divSection5">
			&copy;Fluorescent Ideas Platform by <span style="font-weight: bold;">FLI GlocalGroup</span>. Proudly powered by <span style="font-weight: bold;">
			<%=link_to "applicattio", "http://www.applicattio.com/", :target=>"_blank"%></span>
		</div>
	</center>



		<!--<%= form_for(:user, :url => session_path(:user)) do |f| %>
	  		<%= f.text_field :email, :autofocus => true, :class => 'inputs ico username',:placeholder => "Correo Electrónico",:style=>"", :required=>"required" %>
	  		<%= f.password_field :password, :class => 'inputs ico password',:placeholder => "Contraseña",:style=>"", :required=>"required"%>
	  		<br/>
	  		<%= f.submit 'Comenzar',:class => 'button loginb',:style => "width:715px;" %>
		<% end %>-->
</div>
</div>

<!-- <%= link_to 'Applicaciones', applications_path %> -->

