<%= form_tag('/answers', :remote => true) do %>


	<% questionsIn.each do |i| %>
		
	<%	
	if Answer.where("question_id = ? and application_id = ?" , i.id, current_user.applications.first.id).first.nil?
			@respuesta = ""				
	else
		@respuesta = Answer.where("question_id = ? and application_id = ?" , i.id, current_user.applications.first.id).first.value
	end 
	%>
		<% if i.field_type == "radio" %> 
		<p>
		<b> <%= i.spa_description %></b>
		<ul>
		<% i.html_for_field.constantize.all.each do |radioOption| %>
			<li>
				<% @id = radioOption.id %>
				
				<% if @id == @respuesta.to_i %>
					<%= radio_button_tag( i.id , @id, :checked ) %>
				<% else %>
					<%= radio_button_tag(i.id, @id) %>
				<% end %>

				<%= label_tag(@id, radioOption.description) %>
			</li>
			<% end %>
		</ul></p>
	<% elsif i.field_type == "label" %>
		<p> <%= i.spa_description %></p>
	<% elsif i.field_type == "text_field" or i.field_type == "text_area" or i.field_type =="hidden_field" or i.field_type == "number_field" or i.field_type == "diagram_field" %>

		<p> 
		 <b><%= i.spa_description %></b>
		 <br/>
		 <% if i.field_type == "text_field" %>
					<%= text_field_tag(i.id ,@respuesta,:class => "inputs ochenta") %>
		<% elsif i.field_type == "text_area" %>
					<%= text_area_tag(i.id ,@respuesta,:class => "inputs",:style => "margin: 0px 0px 10px; width: 80%; min-width: 950px; height: 120px; resize: none") %>
		<% elsif i.field_type == "hidden_field" %>
					<%= text_field_tag(i.id ,@respuesta) %>	
		<% elsif i.field_type == "resources_table" %>
				<%= render 'layouts/resources' %>
		<% elsif i.field_type == "components_table" %>
				<%= render 'layouts/components' %>		
		<% elsif i.field_type == "number_field" %>
					<%= number_field_tag(i.id ,@respuesta) %>
		<% elsif i.field_type == "diagram_field" %>
			<input type="button" class="btnDiagramas" class="button loginb" rel="<%= i.html_for_field %>"  value="Cargar Diagramita"/>
			<input type="button" value="guardarDiagrama" id="btnGuardar_<%= i.html_for_field %>" />
				 <%= text_field_tag(i.id ,@respuesta) %>
				 <%= render :partial =>'layouts/diagram', :locals => {:diagram_id => i.html_for_field} %>
				
			<% end %>

		</p>
		<% end %>
		<% end %>

	<%= submit_tag('Guardar',:class => "button loginb") %>
<% end %>