<%= form_tag('/answers', :remote => true) do %>


	<% questionsIn.each do |i| %>
		
	<%	
	if Answer.where("question_id = ? and application_id = ?" , i.id, current_user.applications.first.id).first.nil?
			@respuesta = ""				
	else
		@respuesta = Answer.where("question_id = ? and application_id = ?" , i.id, current_user.applications.first.id).first.value
	end 
	%>
	<!-- PARA PREGUNTAS QUE NECESITAN MOSTRAR UNA SERIE DE OPCIONES -->
		<% if i.field_type == "radio" %> 
		<p>
		<b> <%= i.spa_description %></b>
		<ul>
		<% i.html_for_field.constantize.all.each do |radioOption| %>
			<li>
				<% @id = radioOption.id %>
				
				<% if @id == @respuesta.to_i %>
					<%= radio_button_tag( i.id , @id, :checked ) %>
				<% else %>
					<%= radio_button_tag(i.id, @id) %>
				<% end %>

				<%= label_tag(@id, radioOption.description) %>
			</li>
			<% end %>
		</ul></p>
		
		<!-- PARA PREGUNTAS QUE NECESITAN MOSTRAR UN HTML MAS COMPLEJO -->
	<% elsif i.field_type == "html_render" %>
			<%= render "layouts/htmlForRender/"+ i.html_for_field %>
		<!-- PARA PREGUNTAS QUE SOLO NECESITAN MOSTRAR UN LABEL SENCILLO -->
	<% elsif i.field_type == "label" %>
		 <%= i.spa_description %><%= i.extra_text_desc %></br>

		<!-- PARA PREGUNTAS QUE NECESITAN UN CAMPO DE TEXTO DONDE GUARDAR EL JSON -->
	<% elsif i.field_type == "text_field" or i.field_type == "text_area" or i.field_type =="hidden_field" or i.field_type == "number_field" or i.field_type == "diagram_field" or i.field_type == "diagram_field2" or i.field_type =="resources_table" or i.field_type == "components_table" or i.field_type == "diagram_field_actividades" or i.field_type == "pop_field"  or i.field_type =="text_area_problema"%>

		<!-- <p> --> 
		 <b><%= i.spa_description %></b><%= i.extra_text_desc %>
		 <% unless i.pop_name.nil? or i.pop_name == "" %> <%= render 'layouts/htmlForRender/pop_' + i.pop_name %> <% end %>
		 <% if i.field_type == "text_field" %>
					<%= text_field_tag(i.id ,@respuesta,:class => "inputs cien") %>
		<% elsif i.field_type == "text_area" %>
					<%= text_area_tag(i.id ,@respuesta,:class => "inputs "+ i.html_for_field ,:style => "margin: 0px 0px 10px; width: 100%; min-width: 950px; height: 120px; resize: none") %> 
		<% elsif i.field_type == "text_area_problema" %>
					<%= text_area_tag(i.id ,@respuesta,:class => "inputs txtProblema" ,:style => "margin: 0px 0px 10px; width: 100%; min-width: 950px; height: 120px; resize: none") %> 
		<% elsif i.field_type == "hidden_field" %>
					<%= text_field_tag(i.id ,@respuesta) %>	
		<% elsif i.field_type == "resources_table" %>
				<%= text_area_tag(i.id ,@respuesta,:style => "display:none", :class => "jsonTablaRecursos") %>
				<%= render 'layouts/resources' %>
		<% elsif i.field_type == "components_table" %>
			<%= text_area_tag(i.id ,@respuesta,:style => "display:none", :class => "jsonTablaComponentes") %>
				<%= render 'layouts/components' %>		
		<% elsif i.field_type == "number_field" %>
					<%= number_field_tag(i.id ,@respuesta) %>
		<% elsif i.field_type == "diagram_field" %>
			<%= text_area_tag(i.id ,@respuesta,:class => "jsonArbolProblemas",:style => "display:none") %>
				<%= render 'layouts/arbol' %>	
		<% elsif i.field_type == "diagram_field2" %>
			<%= text_area_tag(i.id ,@respuesta,:class => "jsonArbolAcciones",:style => "display:none") %>
				<%= render 'layouts/arbol2' %>	
		<% elsif i.field_type == "diagram_field_actividades" %>
			<%= text_area_tag(i.id ,@respuesta,:class => "jsonDiagramaActividades",:style => "display:none") %>
			<%= render 'layouts/diagrama_actividades' %>
		<% elsif i.field_type == "pop_field" %>
			<%= render 'layouts/htmlForRender/pop_' + i.html_for_field  %>
		<% end %>
		<!-- </p> -->
		<% end %>
		<% end %>

	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<%= submit_tag('Guardar',:class => "button loginb btnguardar", :disable_with => "Guardando") %>

<% end %>