<%= form_tag('/answers', :remote => true) do %>
	<% questionsIn.each do |i| %>
		<p> <%=i.spa_description %>
		<p> <%= puts "#{i}" %>
		<%= text_field_tag(i.id), :value => Answer.find(:question_id =>i.id).value %></p>
	<% end %>
	<%= submit_tag('Guardar') %>
<% end %>