<%= form_for(@pdf_preview) do |f| %>
  <% if @pdf_preview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pdf_preview.errors.count, "error") %> prohibited this pdf_preview from being saved:</h2>

      <ul>
      <% @pdf_preview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
