<%= form_for(pdf_preview_obj, :remote => true) do |f| %>
<div style="display:none">
  <div class="field">
    <%= f.label :project_title %><br />
    <%= f.text_field :project_title %>
  </div>
  <div class="field">
    <%= f.label :problem %><br />
    <%= f.text_area :problem %>
  </div>
  <div class="field">
    <%= f.label :justification %><br />
    <%= f.text_area :justification %>
  </div>
  <div class="field">
    <%= f.label :objective %><br />
    <%= f.text_area :objective %>
  </div>
  <div class="field">
    <%= f.label :objective_population %><br />
    <%= f.text_area :objective_population %>
  </div>
  <div class="field">
    <%= f.label :components %><br />
    <%= f.text_area :components %>
  </div>
  <div class="field">
    <%= f.label :activities %><br />
    <%= f.text_area :activities %>
  </div>
  <div class="field">
    <%= f.label :implementation %><br />
    <%= f.text_area :implementation %>
  </div>
  <div class="field">
    <%= f.label :cronogram %><br />
    <%= f.text_area :cronogram %>
  </div>
  <div class="field">
    <%= f.label :budget %><br />
    <%= f.text_area :budget %>
  </div>
  <div class="field">
    <%= f.label :risks %><br />
    <%= f.text_area :risks %>
  </div>

</div>

  <div class="field" style="display:block">
    <img alt="Logo" src="/assets/fb32.png" />
  <%= f.label "Pega aquí el link de la página de facebook de tu producto o servicio (URL) para que los jueces puedan encontrarte" %><br />
    <center> <%= f.text_field :facebook_url,:class => "inputs cien" %></center>
    <br><br>
  </div>
  <div class="field" style="display:block">
  <img alt="Logo" src="/assets/tw32.png" />
    <%= f.label "Pega aquí el link de la página de twitter de tu producto o servicio(URL) para que los jueces puedan encontrarte" %><br />
    <center><%= f.text_field :twitter_url, :class => "inputs cien" %><center>
    <br><br>
  </div>

  <div class="field">
  <h3 style="color:#E5213B;margin-bottom: 5px;">Importante: </h3>
   <p>Envia a <span style="font-weight:bold; ">hol@fli.mx</span> la carta de originalidad que puedes encontrar en la siguiente pestaña, escaneada y con tu firma. Indicando el correo del lider en el titulo.</p>
  <!--<%= f.file_field :document ,:class => "inputs cien"%>-->
    <br><br>
  </div>
 <br><br>
  <p><p>
  <div class="actions" style="display:block">
    <center><%= f.submit "Terminar y Enviar a Revisión" ,:class => "button loginb", :id => "btn_pdf_preview" %></center>
  </div>
<% end %>