 <div id="banner-wrapper" style="margin-top:-30px;">
 <div id="login" class="box">
 	<div class= "h1login">
 		<h2>Entrar</h2>
 	</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<fieldset id="inputs">
  <%= f.email_field :email, :autofocus => true, :class => 'inputs ico username',:placeholder => "Correo Electrónico"  %>
  <%= f.password_field :password , :class => 'inputs ico password',:placeholder => "Contraseña" %>
</fieldset>

  <% if devise_mapping.rememberable? -%>
  <%= f.check_box :remember_me %> <%= f.label 'Recordar'%>
  <% end -%>

<fieldset id="actions">
	<%= f.submit "Entrar",:class => 'button loginb' %>
	<% end %>

	<%= render "devise/shared/links" %>

</fieldset>

</div>
</div>
