<%= form_for(u) do |f| %>
  <!--<% if u.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(u.errors.count, "error") %> Error al modificar</h2>

      <ul>
      <% u.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>-->

    <!--<%= f.label :name %><br />-->
    <%= f.text_field :name, :class=>'inputs normal', :placeholder=>'Nombre', :required=>"required" %>
    <!--<%= f.label :email %><br />-->
    <%= f.email_field :email, :class=>'inputs normal', :placeholder=>'Email', :required=>"required" %>
    <%= f.hidden_field :user_id , :value=>current_user.id%>
    <%= f.hidden_field :college_id , :value=>current_user.college.id%>

  <br>
  <div class="actions">
    <%= f.submit 'Guardar',:class => 'button loginb' ,:disable_with => "Guardando", :style=>"width:400px;" %>
  </div>
<% end %>
