<div id="banner-wrapper " style="margin-top:-30px;" >
<div class="box">
  <center>
    <h1>Bienvenido <%= current_user.name %>, coordinador <%= current_user.college.name %></h1>
    <h4>Aquí puedes dar de alta a los alumnos seleccionados</h4>
      <%= render partial: 'form_embed',locals:{ u: InvitedUser.new} %>
  </center>
</div>

<br>

<div class="box">
  <center>
    <% if InvitedUser.find_by_user_id(current_user.id).nil? %>
          <p>No has agregado a nadie aún </p>        
    <% else %>
          <h3>Alumnos registrados actualmente</h3>

      <table class="gridtable">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Email</th>
          <th style="width: 100px;"></th>
        </tr>
       <% @i = InvitedUser.find_all_by_user_id(current_user.id) %> 
      <% @i.each do |invited_user| %>
        <tr>
          <td><%= invited_user.id %></td>
          <td><%= invited_user.name %></td>
          <td><%= invited_user.email %></td>
          <td><%= link_to 'Editar', edit_invited_user_path(invited_user) %> |
              <%= link_to 'Eliminar', invited_user, confirm: '¿Estás seguro?', method: :delete %></td>
        </tr>
      <% end %>
      </table>

      <% end %>

  </center>
</div>
</div>