<div id="header-wrapper">
	<div id="logo_fi" style="
    color: white;
    font-size: 47px;
    /* top: 50%; */
    font-weight: 600;
    width: 294px;
    text-shadow: 0.1em 0.1em #333;
    margin-top: 3px;
">
     <a href="www.fli.mx" class="ct-logo"><img alt="Logo" src="/assets/logo.png" /></a> 
        
    </div>
	<!-- Nav -->
	<nav id="nav">
		<ul>
			<!--
			class="current_page_item"
			-->
			<li> <%= link_to 'Somos Fli',  qsomos_path %></li> 

			<li><a href="#openPopContacto">Contacto</a></li>

			<% if user_signed_in? %>
				<li> <%= link_to 'Mis Ideas',  applications_path %> </li>
				<li><a href="#">Tutorial</a></li>
			<% end %>
			</ul>

	</nav>		

	<div id="openPopContacto" class="pop">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<p style="margin-top: -10px; font-size:14px; font-style:italic;"> 
			<%= render :partial =>'mailer/send_form', :locals  => {:msgobject => Message.new} %> 
		</div>
	</div>

			<% if user_signed_in? %>
				<div id="btn_salir">
				<span style="float: left; position: relative; top: -7px;">
					<h4 style="color: #fff !important; background:#11343d; border-radius: 6px 0 0 6px; padding: 0 10px;">
						<%= current_user.name.to_s.split(' ')[0] %>
					</h4>
					</span>
	    			
	    			 <%= link_to 'Salir', destroy_user_session_path, :method=>:get , :class =>'button' %>
	    			</div>
  			<% else %>
		  			<div id="btn_subeIdea">
						<%= link_to 'Sube tu Idea!',  new_user_session_path, :class => 'button'%>
					</div>
    
	  		<% end %>
	  		
</div>

