<div id="flota" class="leftBar">
	<div id="registroInvolcradosBtn" class="btnHowTo active"> 
		<div class="unoI">
			<%= image_tag "1.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Registro involucrados
		</div>
	</div>
	
	<div id="conociendoMejorBtn" class="btnHowTo"> 
		<div class="unoI">
			<%= image_tag "2.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Conociendo mejor mi idea
		</div>
	</div>
	<div id="primeroLoPrimeroBtn" class="btnHowTo"> 
		<div class="unoI">
			<%= image_tag "3.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Mi idea ya es un proyecto
		</div>
	</div>
	<div id="areaImpactoBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "4.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Área impacto
		</div>
	</div>
	<div id="manosObraBtn" class="btnHowTo">
<div class="unoI">
			<%= image_tag "5.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Manos a la obra
		</div>
	</div>
	<div id="riesgosBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "6.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Análisis de la situación
		</div>
	</div>
	<div id="comentariosFinBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "7.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Comentarios finales
		</div>
	</div>
	<div id="redactarProyectoBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "8.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Redacción proyecto
		</div>
	</div>
	<div id="conexionConvocatoriasBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "9.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Material de Apoyo
		</div>
	</div>
</div>