
<div id="flota" class="leftBar">
	<div id="registroInvolcradosBtn" class="btnHowTo "> 
		<div class="unoI">
			<%= image_tag "1.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Registro Involucrados
		</div>
	</div>
	<div id="conociendoMejorBtn" class="btnHowTo"> 
		<div class="unoI">
			<%= image_tag "2.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Conociendo Mejor
		</div>
	</div>
	<div id="primeroLoPrimeroBtn" class="btnHowTo"> 
		<div class="unoI">
			<%= image_tag "3.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Primero lo primero
		</div>
	</div>
	<div id="areaImpactoBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "4.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Área Impacto
		</div>
	</div>
	<div id="manosObraBtn" class="btnHowTo">
<div class="unoI">
			<%= image_tag "5.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Manos a la Obra
		</div>
	</div>
	<div id="riesgosBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "6.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Riesgos
		</div>
	</div>
	<div id="comentariosFinBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "7.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Comentarios Finales
		</div>
	</div>
	<div id="redactarProyectoBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "8.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Redacción Proyecto
		</div>
	</div>
	<div id="conexionConvocatoriasBtn" class="btnHowTo">
		<div class="unoI">
			<%= image_tag "9.png" %> 
		</div>
		<div class="uno" style="display: none;"> 
			Conexiones
		</div>
	</div>
</div>