<!DOCTYPE html>
<html>
<head>
  <title>Fli</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "primitives.latest", :media => "all" %>
  <%= stylesheet_link_tag "jquery.tags", :media => "all" %>
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />


  <%= javascript_include_tag "application", :media => "all" %>
  <%= javascript_include_tag "jquery.tags.min", :media => "all" %>
  <%= javascript_include_tag "b.primitives.latest", :media => "all" %>
  <%= javascript_include_tag "c.orgcharts", :media => "all" %>
  <%= javascript_include_tag "d.custom_application", :media => "all" %>
  <%= javascript_include_tag "howto_arbolprob", :media => "all" %>


  <%= csrf_meta_tags %>
</head>
<body>
<header>
		<%= render 'layouts/header' %>
    <!-- <%= render 'layouts/navigation' %> -->
    <!-- <%= render 'layouts/messages' %> -->
</header>


<%= yield %>
<%= render 'layouts/footer' %> 
</body>
</html>
