<!DOCTYPE html>
<html>
<head>
  <title>Fli</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
		<%= render 'layouts/header' %>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
</header>

<%= render 'layouts/footer' %>
<%= yield %>

</body>
</html>
