<!DOCTYPE html>
<html>
<head>
  <title>Fli</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />


  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "primitives.latest" %>
  <%= stylesheet_link_tag "jquery.tags" %>
  <%= stylesheet_link_tag "jquery.datatables" %>
  <%= stylesheet_link_tag "jquery.chosen" %>

  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag "jquery.tags.min" %>
  <%= javascript_include_tag "jquery.noty"%>
  <%= javascript_include_tag "jquery.noty.theme.default" %>
  <%= javascript_include_tag "jquery.noty.layout.top" %>
  <%= javascript_include_tag "jquery.noty.layout.centerRight"%>
  <%= javascript_include_tag "jquery.chosen" %>
  <%= javascript_include_tag "jquery.datatables.min" %>
  <%= javascript_include_tag "acciones_pdf"%>
  <%= javascript_include_tag "acciones_lineaAccion"%>
  <%= javascript_include_tag "acciones_arbolproblemas" %>
  <%= javascript_include_tag "acciones_arbolactividades" %>
  <%= javascript_include_tag "acciones_inicio" %>
  <%= javascript_include_tag "acciones_tablarecursos" %>
  <%= javascript_include_tag "acciones_tablacomponentes" %>
  <%= javascript_include_tag "d.custom_application"%>
 
  <%= csrf_meta_tags %>
</head>
<body>
<header>
		<%= render 'layouts/header' %>
    <!-- <%= render 'layouts/navigation' %> -->
    <!-- <%= render 'layouts/messages' %> -->
</header>


<%= yield %>
<%= render 'layouts/footer' %> 
</body>
</html>
