<!DOCTYPE html>
<html>
<head>
  <title>Fli.mx </title>
<meta property="og:title" content="www.fli.mx" />

<meta property="og:description" content="Somos una plataforma de análisis estratégico de ideas con perspectiva global y propuesta local que a través de la vinculación socio-tecnológica busca proponer e impulsar proyectos para dar respuesta a las problemáticas o necesidades de la sociedad" />

<meta property="og:image" content="http://www.fli.mx/assets/logoPE.png" />

<meta name="Keywords" content="fli, entrepreneur, emprendimiento, preparate,queretaro"/>

<meta name="Description" content="Somos una plataforma de análisis estratégico de ideas con perspectiva global y propuesta local que a través de la vinculación socio-tecnológica busca proponer e impulsar proyectos para dar respuesta a las problemáticas o necesidades de la sociedad"/>

<link rel="image_src"
      type="image/jpeg"
      href="http://www.fli.mx/assets/logoPE.png" />

  <%= favicon_link_tag 'favicon.ico' %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />


  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "primitives.latest" %>
  <%= stylesheet_link_tag "jquery.tags" %>
  <%= stylesheet_link_tag "jquery.datatables" %>
  <%= stylesheet_link_tag "jquery.chosen" %>

  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag "jquery.tags.min" %>
  <%= javascript_include_tag "jquery.noty"%>
  <%= javascript_include_tag "jquery.noty.theme.default" %>
  <%= javascript_include_tag "jquery.noty.layout.top" %>
  <%= javascript_include_tag "jquery.noty.layout.centerRight"%>
  <%= javascript_include_tag "jquery.chosen" %>
  <%= javascript_include_tag "jquery.datatables.min" %>
  <%= javascript_include_tag "acciones_pdf"%>
  <%= javascript_include_tag "acciones_lineaAccion"%>
  <%= javascript_include_tag "acciones_arbolproblemas" %>
  <%= javascript_include_tag "acciones_arbolactividades" %>
  <%= javascript_include_tag "acciones_inicio" %>
  <%= javascript_include_tag "acciones_tablarecursos" %>
  <%= javascript_include_tag "acciones_tablacomponentes" %>
  <%= javascript_include_tag "d.custom_application"%>

  <%= csrf_meta_tags %>
</head>
<body>
<header>
		<%= render 'layouts/header' %>
    <!-- <%= render 'layouts/navigation' %> -->
    <!-- <%= render 'layouts/messages' %> -->
</header>


<%= yield %>
<%= render 'layouts/footer' %>
<script type="text/javascript">
   var _mfq = _mfq || [];
   (function() {
       var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
       mf.src = "//cdn.mouseflow.com/projects/d0c7269c-b100-4783-89ee-28c307887cce.js";
       document.getElementsByTagName("head")[0].appendChild(mf);
   })();
</script>
</body>
</html>
