<!DOCTYPE html>
<html>
<head>
  <title>Fli</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />
  

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>

  <%= javascript_include_tag "primitives.latest" %>
  <%= javascript_include_tag "slider/sequencejs-options.sliding-horizontal-parallax" %>
  <%= stylesheet_link_tag    "slider/sequencejs-theme.sliding-horizontal-parallax" %>
  <%= stylesheet_link_tag    "primitives.latest" %>
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />


  <%= csrf_meta_tags %>
</head>
<body>
<header>
		<%= render 'layouts/header' %>
    <!-- <%= render 'layouts/navigation' %> -->
    <%= render 'layouts/messages' %>
</header>

<!-- <%= render 'layouts/footer' %> -->
<%= yield %>

</body>
</html>
